:root {
  --title-color: #34495e;
}

.page_header{
  width:100%;
  height:48vh;
  position: relative;
  background:url('../images/page_background.jpg') no-repeat 5% 60%;
}
.author {
  background: #ecf0f1;
  text-align: center;
  height:22vh;
}
@media only screen and (max-width: 990px) {
  .page_header{
    height:40vh;
  }
  .author {
    height:20vh;
  }
}

.head {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #fff;
  box-shadow: 0 0 5px #95a5a6;
  position: relative;
  top: -68px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.8s;
}

.head .avatar {
  padding: 0;
  border: none;
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  border-radius: 50%!important;
}

.name {
  top: -68px;
  position: relative;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.8s;
}

.pagination {
  margin-bottom: 80px;
  padding-left: 0;
}

.main_content {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.8s;
  margin: 72px auto 0 auto;
  list-style: none;
}
.main_content>li {
  margin-bottom: 20px;
}
.main {
  width:100%;
  background:#ffffff;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

.main_content>li h3 a {
  transition: color .3s;
}

.main_content>li .excerpt, .main_content>li .excerpt *, .main_content>li .no-title {
    color: #7f8c8d;
    line-height: 1.5;
    margin: 5px 0;
}
.main_content>li .meta {
  font-size: .875rem;
  margin-top: 20px;
  border: 1px solid #ecf0f1;
  border-width: 1px 0;
  padding: 10px 10px;
  color: #737f80;
}
.main_content>li .meta>li {
    margin-right: 22px;
    display: inline-block;
}
.main_content li > p {
  margin:0;
}
.main_content > li p.date {
  font-weight: bold;
  font-size: .875rem;
}
.main_content a {
  text-decoration: none;
}

.main_content a:hover {
  text-decoration: underline;
  color: #2e4154;
}
.issue{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.right_title {
  line-height: 1.1;
  font-weight: 700;
  cursor:pointer;
  color:var(--title-color);
}