body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

h3 {
  font-size: calc(1.275rem + .3vw);
  margin-bottom: .5rem;
}

.main {
  width:100%;
  background:#ffffff;
}

.header{
  width:100%;
  height:40vh;
  position: relative;
  background:url('../images/page_background.jpg') no-repeat 5% 60%;
}

.author {
  text-align: center;
  height:20vh;
}

@media only screen and (max-width: 900px) {
  .header{
    height:35vh;
  }
  .author {
    height:15vh;
  }
}

.head {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #fff;
  box-shadow: 0 0 5px #95a5a6;
  position: relative;
  top: -68px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.8s;
}

.head .avatar {
  padding: 0;
  border: none;
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  border-radius: 50%!important;
}

.name {
  top: -68px;
  position: relative;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.8s;
}

.pagination {
  margin-bottom: 80px;
  padding-left: 0;
}

.container {
  max-width: 100%;
  margin: 1rem auto;
  padding: 0 1.25rem;
}

.blog {
  display: flex;
  flex-wrap: wrap;
}

.blog__content {
  flex: 0 0 auto;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.blog__sidebar {
  display: none;
  text-align: right;
}

.blog__sidebar__issue {
  list-style: none;
  font-weight: 100;
  margin-bottom: .75rem;
}

.blog__sidebar__description {
  color: #999;
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 60rem;
    padding: 0 1.5rem;
  }
  
  .container-lg {
    max-width: 80%;
  }
  .blog__content {
    flex: 0 0 auto;
    width: 65%;
  }
  .blog__sidebar {
    flex: 0 0 auto;
    width: 25%;
    display: block;
  }
}


.main_content {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.8s;
  list-style: none;
}

.post__link {
  transition: color .3s;
}

.main_content>li .excerpt, .main_content>li .excerpt *, .main_content>li .no-title {
  color: #7f8c8d;
  line-height: 1.5;
  margin: 5px 0;
}
.main_content>li .meta {
  font-size: .875rem;
  margin-top: 20px;
  border: 1px solid #ecf0f1;
  border-width: 1px 0;
  padding: 10px 10px;
  color: #737f80;
}
.post__meta {
  margin-right: 22px;
  display: inline-block;
}

.post__date {
  font-weight: bold;
  font-size: .875rem;
}

.main_content a:hover {
  text-decoration: underline;
  color: #2e4154;
}

.issue{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.right_title {
  line-height: 1.1;
  font-weight: 700;
  cursor:pointer;
  color:var(--title-color);
}

.footer {
  background: #2c3e50;
  padding: 30px 15px;
  width: 100%;
  bottom: 0;
}